@font-face {
    font-family: 'Roboto Condensed';
    src: url("fonts/RobotoCondensed-Regular.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Allerta Stencil';
    src: url("fonts/AllertaStencil-Regular.ttf") format("truetype");
    font-display: swap;
}

:root {
    --main-bg-color: #222;
    --main-txt-color: #f2f2f2;
    --main-success-color: #2c6b28;
    --main-alert-color: #c71616;
    --main-warning-color: #fabc1e;
    --main-critical-color: #FA26A0;
    --main-blue-color: #0e6acf;
    --main-green-color: #259E84;
    --main-font-family:'Roboto Condensed', sans-serif;
    --secondary-font-family: "Allerta Stencil", sans-serif;
}

hr{
    color: var(--main-txt-color);
}


*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background: var(--main-bg-color);
    color: var(--main-txt-color);
}
input{
    font-family: var(--main-font-family);
}

select{
    cursor: pointer;
    font-family: var(--main-font-family);
    padding: 0.5rem;
    border: none;
    color: var(--main-txt-color);
    background: var(--main-success-color);
}
button{
    font-family: var(--main-font-family);
}

#logo{
    font-family: var(--secondary-font-family);
    width: auto;
    z-index: 1;
}
#logo span:nth-child(1){
    font-size: 4rem;
    color: var(--main-blue-color);
    width: auto;
}
#logo span:nth-child(2){
    font-size: 2rem;
    color: var(--main-warning-color);
    width: auto;
}

body {
    font-family: var(--main-font-family);
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

header {
    padding: 1rem;
}

main {
    padding: 2rem;
    flex-grow: 1;
}

footer{
    padding: 1rem;
}

footer>div {
    height: 5rem;
}


th, td {
    border: 2px solid var(--main-txt-color);
    padding: 0.4rem 0.6rem;
}

.txt-align-l {
    text-align: left;
}

.txt-align-c {
    text-align: center;
}

.txt-align-r {
    text-align: right;
}

.border-none {
    border: none;
}

.overflow-x{
    overflow-x: auto;
}

table {
    margin: 2rem;
    border: none;
    border-radius: 1rem;
    padding: 0.4rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#size-table input{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

#order-table{

}

.btn-inc{
    margin: 0.1rem;
    border-radius: 5px 5px 0 0;
    width: 1rem;
    height: 0.5rem;
    border: solid 1px var(--main-txt-color);
    background: var(--main-success-color);
    color: var(--main-bg-color);
}

.btn-dec{
    margin: 0.1rem;
    border-radius: 0 0 5px 5px;
    width: 1rem;
    height: 0.5rem;
    border: solid 1px var(--main-txt-color);
    background: var(--main-alert-color);
    color: var(--main-bg-color);
}

table input {
    height: 1.4rem;
    width: 100%;
    border: none;
    text-align: center;
    color: inherit;
    background: none;
}

#size-table input {
    height: 1.4rem;
    width: 3rem;
    text-align: center;
    border: none;
    color: inherit;
    background: none;
}

table input:focus {
    outline: none;
}

table input:invalid {
    background: var(--main-alert-color);
    outline: none;
}

.c-alert {
    color: var(--main-alert-color);
}

.c-success {
    color: var(--main-success-color);
}

.c-warning {
    color: var(--main-warning-color);
}

.c-critical {
    color: var(--main-critical-color);
}

.c-blue {
    color: var(--main-blue-color);
}

.c-bg {
    color: var(--main-bg-color);
}

.bg-alert {
    background: var(--main-alert-color);
}

.bg-success {
    background: var(--main-success-color);
}

.bg-warning {
    background: var(--main-warning-color);
}

.bg-critical {
    background: var(--main-critical-color);
}

.bg-blue {
    background: var(--main-blue-color);
}

.bg-bg{
    background: var(--main-bg-color);
}

.c-w{
    color: var(--main-txt-color);
}

.cell-btn {
    width: 100%;
}
.cell-no-border{
    border: none;
}

button {
    padding: 2px 4px;
    font-size: 1rem;
    background: var(--main-txt-color);
    color: var(--main-txt-color);
    border-radius: 8px;
    border: 2px solid var(--main-txt-color);
    cursor: pointer;
}

.t-center{
    text-align: center;
}

#ordered-reset{
    background: var(--main-blue-color);
    width: 5rem
}

button:hover {
    opacity: 0.7;
}

button:active {
    transform: translateY(1px)
}


.p-0 {
    padding: 0;
}

#like-counter{
    grid-column: 1 / 2;
    grid-row: 1;
    display: flex;
    align-items: center;
    height: 2.6rem;
    margin: 0.7rem 2rem 0;
    padding-left: 0.5rem;
    border-radius: 1rem;
    font-family: var(--secondary-font-family);
    font-size: 1.2rem;
    color: var(--main-blue-color);
    background: none;
}


#like-counter-all{
    color: var(--main-green-color);
    width: auto;
    text-align: right;
    padding: 0 0.5rem;
    margin-right: 1px;
    border: 2px solid var(--main-green-color);
    border-radius: 0.5rem 0 0 0.5rem ;
    background: var(--main-bg-color);

}
#like-counter-personal{
    color: var(--main-blue-color);
    width: auto;
    margin-right: 3rem;
    padding: 0 0.5rem;
    border: 2px solid var(--main-blue-color);
    border-radius: 0 0.5rem 0.5rem 0;
    background: var(--main-bg-color);
}

#like{
    grid-column: 2 / 3;
    grid-row: 1;
    border-radius: 1rem;
    border: 0.2rem solid var(--main-blue-color);
    cursor: pointer;
    height: 4rem;
    width: 4rem;
    padding: 0.5rem;
    z-index: 2;
    background: var(--main-bg-color);
}
#like img{
    width: 100%;
    height: auto;
}

#add-like-effect{
    grid-column: 2 / 3;
    grid-row: 1;
    height: 4rem;
    width: 4rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.like-effect{
    animation-name: like-anime1;
    animation-duration: 1s;
    display: block;
    position: absolute;
    text-align: center;
    z-index: 0;
    width: 4rem;
}

@keyframes like-anime1 {
    0% {
        opacity: 1;
        transform: translateX(0px);
    }
    75% {
        opacity: 1;
        transform: translateX(0px);
    }
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateX(-100px);
        display: none;
    }
}

#like-zone{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    margin: 0.5rem;
    display: grid;
    position: fixed;
    right: 0;
    bottom: 0;
}

#like:active img {
    width: 90%;
    transform: rotate(-15deg);
}
#like:hover{
    opacity: 1;
}

.d-flex-col{
    display: flex;
    flex-direction: column;
}
.d-flex-c{
    display: flex;
    align-items: center;
}
.d-flex-c-wrap{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.d-flex-b-wrap{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.badge-size{
    width: 1rem;
    text-align: center;
    color: var(--main-bg-color);
    background: var(--main-txt-color);
    padding: 0.15rem;
    font-size: 0.7rem;
    border-radius: 5px;
    margin: 0.1rem;
}
.badge-size-2{
    width: 1rem;
    text-align: center;
    color: var(--main-txt-color);
    background: var(--main-bg-color);
    padding: 0.15rem;
    font-size: 0.7rem;
    border-radius: 5px;
    margin: 0.1rem;
}
.p-0{
    padding: 0;
}

.table-head{
    background: var(--main-warning-color);
    color: var(--main-bg-color);
}

/* Chrome, Safari, Edge, Opera */
table input::-webkit-outer-spin-button,
table input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
table input[type=number] {
    -moz-appearance: textfield;
}

